# Node / Parcel (tüm alt klasörler için)
**/node_modules/
**/.parcel-cache/
**/dist/

# Loglar
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editör / OS
.vscode/
.DS_Store
Thumbs.db

# Ortam dosyaları (ileride gerekebilir)
**/.env
**/.env.*
